<div class="main">
  <div class="jumbotron">
  <div class="container">
    <h1 class="main__title">Find Cinema</h1>
    <form class="main__search-form form form-inline" ng-submit="vm.onCinemaSearchSubmit(vm.search)">
      <fieldset>
        <div class="form-group">
          <div class="input-group col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <input class="form-control" ng-model="vm.search" placeholder="tv show title" required="required" autofocus="autofocus"/>
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit">Search</button>
            </span>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  </div>
  <div class="container">
    <div ng-if="vm.shows.length">
      <ul class="main__media-list">
        <li class="col-xs-12 col-md-6" ng-repeat="show in vm.shows">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2>{{show.name}}
                <small>{{show.premiered |date:'yyyy'}}</small>
              </h2>
              <ul class="main__genre-list">
                <li class="main__show-genre label label-primary" ng-repeat="genre in show.genres">{{genre}}</li>
              </ul>
            </div>
            <div class="panel-body">
              <div class="media">
                <div class="media-left pull-left">
                  <img class="main__show-image media-object" ng-src="{{show.image.medium || '/assets/images/default-movie.png'}}"/>
                </div>
                <div class="media-body">
                  <p ng-bind-html="show.summary || 'No summary information'"></p>
                  <button class="btn btn-primary pull-right" ng-click="vm.openAddCinemaModel(show)">Add To Trello</button>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="alert alert-danger"
         ng-if="vm.shows && !vm.shows.length">No results found
    </div>
  </div>
</div>
